<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/aop  
          http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <!-- Bean definitions go here -->
    <bean id="userIO" class="zls.flooringmastery.ui.UserIOConsoleImpl"/>
   
    <bean id="view" class="zls.flooringmastery.ui.FlooringMasteryView">
        <constructor-arg ref="userIO"/>
    </bean>
   
    <bean id="flooringMasteryDao" 
         class="zls.flooringmastery.dao.FlooringMasteryDaoFileImpl"/>
   
   <bean id="flooringMasteryInventoryDao"
         class ="zls.flooringmastery.dao.FlooringMasteryInventoryDaoFileImpl"/>
   
   <bean id="flooringMasteryTaxDao"
         class ="zls.flooringmastery.dao.FlooringMasteryTaxDaoFileImpl"/>
   
   <bean id="orderNumberDao"
         class ="zls.flooringmastery.dao.OrderNumberDaoFileImpl"/>
   
    <bean id="serviceLayer" 
         class="zls.flooringmastery.service.FlooringMasteryServiceLayerFileImpl">
        <constructor-arg ref="flooringMasteryDao"/>
        <constructor-arg ref="flooringMasteryInventoryDao"/>
        <constructor-arg ref="flooringMasteryTaxDao"/>
        <constructor-arg ref="orderNumberDao"/>
                
    </bean>
   
    <bean id="controller" 
         class="zls.flooringmastery.controller.FlooringMasteryController">
        <constructor-arg ref="serviceLayer"/>
        <constructor-arg ref="view"/>
    </bean>
</beans>